html, body { height: 100% }

h1 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

.recherche {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	margin-left: 10%;
	margin-right: 5%;
}

.tag{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	position:relative;
	width:40%; 
	height:5%;
	border: solid 2px;
	padding: auto;
	
}

.listetag{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	padding: 2%;
	position:relative;
	width:40%; 
	height:5%;
	
}

.theme {
	justify-content:space-around;
	padding: 5% 10% 2% 10%;


}

.galerie {
	-webkit-flex-direction:row;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
	width: 100%;
	
}
.unite{
	display: flex;
	max-width:20%;
}
.ajout {
	
}

.barre {
	position:relative;
	width:40%; 
	height:auto;

}

	.formulaire {
		display:inline-block;
		display: flex;
		text-align: center;
	}

		.formulaire .champ {
			width:400px; 
			height:35px;
		}
		.formulaire .bouton { 
			background-repeat: no-repeat;
			width: 35px;
			height: 42px;
			padding: 0; 
		}

