@font-face {
font-family: 'Raleway';
src: url('Raleway/Raleway-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body { 
	height: 100%;
	margin: 0;
	padding: 0; 
	font-family: 'Raleway';
}

h1 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

.recherche {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	margin-left: 10%;
	margin-right: 5%;
}

.recherche-tag{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	position:relative;
	width:40%;
	height: 50px;
	border:solid;	
}

.listetag{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	padding: 2%;
	position:relative;
	width:40%; 
	height:5%;
}

.galerie {
	-webkit-flex-direction:row;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-around;
	width: 100%;
}
.galerie a{

}
.ajout {
	display:flex;
	flex-direction:row;
	float: left;
	position: fixed;
	bottom: 0;
	width:100%;
	height: 100px;
	background-color: #ecf0f1;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
	justify-content:center;
	align-items:center;
}

.ajout a, .formulaire-galerie form a, .formulaire-galerie form input[type=submit], .boutons a {
	text-decoration: none;
	border: solid 2px black;
	padding: 0% 5%;
	font-size: 1.125em;
	color: #000;
	height: 50px;
	width: auto;
	display: flex;
	justify-content:center;
	align-items:center;
}

.formulaire-galerie form input[type=submit] {
	background-color: transparent;
	justify-content:space-around;
	align-items:center;
	float: left;
}

.ajout a:hover, .formulaire-galerie form a:hover, .formulaire-galerie form input[type=submit]:hover, .boutons a:hover {
	color:#00518a;
	border-color: #00518a;
}
.barre {
	position:relative;
	width:40%; 
	height:auto;

}

.formulaire-recherche {
		display:inline-block;
		display: flex;
		text-align: center;
	}

		.formulaire-recherche .champ {
			width:400px; 
			height:35px;
		}
		
.boite-formulaire {
	display:flex;
	justify-content:center;
	width: 100%;
	height: 100%;
	margin-top: 3%;
	padding: 5% 3%;	
}

.formulaire-galerie h1 {
	margin-bottom: 15%;
}
.formulaire-galerie {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	width: 60%;
	height: 60%;
}
.formulaire-galerie form{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-top: 20px;

}
.formulaire-galerie form input{
	float: left;
	width: 100%;
	margin-bottom: 50px;
}
.formulaire-galerie form input[type=text]{
	line-height: 2.20em;
}
.boutons {
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-top: 60px;

}
.boutons a{
	margin-bottom:50px;

}

.label-success {
	color: blue;
	position: absolute;
	left: 80%;
	top: 10%;
	
}